*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 0, 98);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    width: 100%;
    height: fit-content;
    overflow:hidden:
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin:10px
}

.icon{
    width: 20%;
    margin-left: 40px;
}

.ul{
    width: 80%;
    display: flex;
    justify-content: center;
    list-style: none;
}


li{
    width: max-content;
    border-radius: 10px;
    font-size: 20px;
    padding: 2px 20px 2px 20px;
}

li:hover{
    background-color: rgba(231, 204, 209, 0.572);
    cursor: pointer;
}

.bar{
    display: none;
    width: 25px;
    height: fit-content;
    
}

.navbar{
    width: 25px;
    height: 3px;
    margin-top: 15%;
    background-color: white;
}


.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.note{
    width: 40%;
    height: fit-content;
    position: relative; 
    left: 30px;
}

h3{
    font-size: 65px;
}
p{
    font-size: 13px;
}

.footer{
    font-size: 18px;
}

button{
    border-radius: 15px;
    padding: 4px 15px 4px 15px;
    border: solid 1px white;
    background-color: transparent;
    color: white;
    margin-top: 30px;
    margin-right: 10px;
}

#pry{
    background-color: white;
    color: rgb(255, 0, 98);
}

button:hover{
    color: rgb(255, 0, 98);
    cursor: pointer;
    background-color: white;
}

.images{
    width: 55%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: 30px;
    /* background-color: green; */
    
}

.girl{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 30px;
    /* background-color: yellow; */
}

img{
    width: 70%;
}
.dots1{
    width: 30%;
    position: absolute;
}

.girl1{
    padding-top: 15px;
    padding-left: 15px; 
    /* width: 80%; */
    /* background-color: indigo; */
}

.man{
    display: flex;
    flex-direction: column;
    position: relative;
    /* background-color: violet; */

}

.boy1{
    padding-bottom: 10px;
    padding-left: 15px;
    
} 

.dots2{
    width: 40%;
    position: absolute;
    bottom: 0;
}



.footer{
    width: 350px;
    margin-right: 80px;
    height: fit-content;
    background-color: white;
    color: black;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



/* @media(max-width:500px){
    .icon{
        width: 85%;
    }
    
    .bar{
        display: none;
        width: 15px;
        height: fit-content;
    }

    .navbar{
        width: 100%;
        height: 2px;
    }
} */

/* @media(max-width:700px){ 
    h3{
        font-size: 200%;
    }
    p{
        font-size: 100%;
    }
    button{
        margin-top: 10px;
    }

    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(16, 16, 175);
    }

    .note{
        width: 100%;
        text-align: center;
        background-color: firebrick;  
    }

    .images{
        display: none;
        margin-top: 30px;
        width: 100%;
        background-color: rebeccapurple;
        right: 0;
        
    }
    .girl{
        
        width: 80%; 
        left: 0;
    }
    .girl1{
        width: 50%;
        
    }
    .man{
        width: 50%;
    }

    img{
        width: 100%;
    }

    .dots1{
        width: 20%;
    }
    .dots2{
        width: 50%;
        left: 10px;
        bottom: 0;
        
    }
    .boy1{
        width: 70%;
    }

    .footer{
        width: 250px;
        position: absolute;
        right: 70px;
        
    }

}   */

 @media(max-width:850px){
    h3{
        font-size: 260%;
    }
    p{
        font-size: 75%;
    }
    button{
        margin-top: 10px;
    }
    header{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .ul{
        width: 100%;
        transition: 0.8s;
        display: flex;
        flex-direction: column;
        line-height: 30px;
        padding-left: 20px;
        height: 0;
        overflow: hidden;
    }

    .ul.active{
        border-bottom: solid 2px white;
        height: 190px;
        transition: 0.8s;
    }
    li{
        width:100%;
       
    }

    .bar{
        display:flex;
        flex-direction: column;
        cursor: pointer;
        transition: 0.8s;
        margin-right: 20px;
    }

    .bar.active{
        transform: translateY(4px) rotate(90deg);
        transition: 0.8s;
    }

    .container{
        width: 100%;
        flex-direction: column;
        justify-content: center;
            
        }

    .note{
        width: 100%;
        text-align: center;
        left: 10px;
        margin-bottom: 100px;  
    } 

     .images{
        width: 80%;
        height: fit-content;
        display: flex;
        justify-content: center;
        position: relative;
        right: 0;
    }
    
    

    img{
        width: 70%;
    }

    .icon{
        margin-top: 5px;
        width: 25%;
    }
    .dots1{
        width: 40%;
    }
    .dots2{
        width: 50%;
        left: 5px;
        bottom: 0;
        
    }
    /* .boy1{
        width: 100%;

    } */

    .footer{
        width: 250px;
        position: absolute;
        right: 20px;
        bottom: 0;
        font-size: 15px;
}
        
    } 

} 
