*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 0, 98);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    width: 100%;
    height: 100vh;
    position: relative;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-top: 15px;
}


.bar{
    display:none;
    width: 30px;
}

.navbar{
    width: 30px;
    height: 3px;
    margin-top: 3px;
    background-color: white;
}

.ul{
    width: 65%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

li{
    padding: 2px 12px 2px 12px;
    border-radius: 10px;
    width: fit-content;
}


li:hover{
    background-color: rgba(245, 222, 179, 0.298);
    cursor: pointer;
}

.container{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    /* background-color: palevioletred; */

}
.note{
    width: 45%;
    height: fit-content;
    padding: 20px;
    
    
}

h3{
    font-size: 300%;
}

button{
    border-radius: 15px;
    padding: 4px 15px 4px 15px;
    border: solid 1px white;
    background-color: transparent;
    color: white;
    margin-top: 30px;
    margin-right: 10px;
    width: fit-content;
}

button:hover{
    color: rgb(255, 0, 98);
    cursor: pointer;
    background-color: white;
}

.images{
    width: 55%;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    gap: 5%
    
}

.girl{
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.dots1{
    width: 45%;
    position: absolute;
}
.girl1{
    padding-top: 20px;
    padding-left: 20px;
    
    
}
.man{
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.dots2{
    width: 90%;
    position: absolute;
    bottom: 0;
    left: -20px;
}
.boy1{
    padding-bottom: 20px;
    padding-right: 40px;
    
}

.footer{
    width: 250px;
    position: absolute;
    right: 20px;
    bottom: 0;
    background-color: white;
    color: black;
    
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@media(max-width:600px){
    h3{
        font-size: 123%;
    }
    button{
        margin-top: 10px;
    }

    header{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .ul{
        width: 100%;
        transition: 0.8s;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        height: 0;
        overflow: hidden;
    }
    .ul.active{
        border-top: solid 2px white;
        border-bottom: solid 2px white;
        height: 180px;
        transition: 0.8s;
        
    }
    .bar{
        display:flex;
        flex-direction: column;
        cursor: pointer;
        transition: 0.8s;
    }

    .bar.active{
        transform: translateY(4px) rotate(90deg);
        transition: 0.8s;
    }
    .images{
        width: 25%;
        display: flex;
        height: fit-content;
        justify-content: space-between;
        gap: 5%;
    }
    
}
